@using FinalBlogSite.Domain.Enums;
@model CategoryPostVM
@{
    // bool isFollowing = Model.Follows.Any(x => x.FollowerId == User.FindFirstValue(ClaimTypes.NameIdentifier));
}
@{
    var userPostCategory = Model.Categories
    .FirstOrDefault(category => category.Posts
        .Any(post => post.Author.UserName == User.Identity.Name));
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sarsa - News & Magazine HTML Template</title>
    <meta name="description" content="Sarsa - News & Magazine HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/imageRevealHover.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/spacing.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body>

    <!-- preloader -->
    @* <div id="preloader">
    <div id="loading-center">
    <div id="loading-center-absolute">
    <div class="object" id="object_one"></div>
    <div class="object" id="object_two"></div>
    <div class="object" id="object_three"></div>
    </div>
    </div>
    </div> *@
    <!-- preloader-end -->
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="blog.html">Category</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Lifestyle</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->
        <!-- blog-details-area -->
        <section class="blog-details-area pt-80 pb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-1">
                        <div class="blog-details-social">
                            <ul class="list-wrap">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fas fa-share"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-post-wrapper">

                            @foreach (var item in Model.Posts)
                            {
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">
                                        <a asp-action="details" asp-controller="home" asp-route-id="@item.Id"><img src="~/assets/img/@item.Images" alt="img"></a>
                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">
                                            <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                            <li><span class="by">By</span> <a href="blog.html">@item.Author.UserName</a></li>
                                            <li>@item.CreatedAt</li>

                                        </ul>
                                        <h3 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h3>
                                        <p>@item.Content</p>
                                        @* <div class="latest__post-read-more">
                                    <a href="blog-details.html">Read More <i class="far fa-long-arrow-right"></i></a>
                                    </div> *@
                                        <ul class="tgbanner__content-meta list-wrap">
                                            @if (Model.AppUser is not null)
                                            {
                                                if (item.Likes.Any(like => like.LikerId == Model.AppUser.Id))
                                                {
                                                    <span>
                                                        <a asp-controller="Post" asp-action="UnlikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                            <i class="fa fa-heart"></i>
                                                        </a>

                                                    </span>


                                                }
                                                else
                                                {

                                                    <span>
                                                        <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                            <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                        </a>

                                                    </span>
                                                }
                                            }



                                            else
                                            {

                                                <span>
                                                    <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                        <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                    </a>

                                                </span>
                                            }
                                            <li>
                                                <div class="total-like-block ml-2 mr-3">
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                            @item.LikeCount
                                                        </span>

                                                    </div>
                                                </div>

                                            </li>


                                            <li><a href="blog-details.html"><i class="fal fa-comment-dots"></i> @item.CommentCount</a></li>
                                            <li><i class="fal fa-share-alt"></i> 29</li>
                                        </ul>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-details-area-end -->

    </main>
    <!-- main-area-end -->
    <!-- JS here -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.marquee.min.js"></script>
    <script src="~/assets/js/imageRevealHover.js"></script>
    <script src="~/assets/js/swiper-bundle.js"></script>
    <script src="~/assets/js/TweenMax.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/ajax-form.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>