@using FinalBlogSite.Domain.Entities;
 ﻿@using Humanizer
@using Microsoft.AspNetCore.Identity;

 @model HomeVM 
@{
    int count = 1;
}
<!-- main-area -->
<main>

    <!-- banner-area -->
     <section class="tgbanner__area">
        <div class="container">
            <div class="tgbanner__grid">
                <div class="tgbanner__post big-post">
                    <div class="tgbanner__thumb tgImage__hover">
                        <a asp-action="details" asp-controller="home" asp-route-id="@Model.RecendPost.FirstOrDefault().Id"><img src="~/assets/img/@Model.RecendPost.FirstOrDefault().Images" alt="img"></a>
                    </div>
                    <div class="tgbanner__content">
                        <ul class="tgbanner__content-meta list-wrap">
                            <li class="category"><a href="blog.html">@Model.RecendPost.FirstOrDefault().Category.Name</a></li>
                            <li><span class="by">By</span> <a asp-action="others" asp-controller="home" asp-route-username="@Model.RecendPost.FirstOrDefault().Author.UserName"> @Model.RecendPost.FirstOrDefault().Author.UserName</a></li>
                            <li>@Model.RecendPost.FirstOrDefault().CreatedAt</li>
                        </ul>
                        <h2 class="title tgcommon__hover"><a href="blog-details.html">@Model.RecendPost.FirstOrDefault().Title</a></h2>
                    </div>
                </div>
                <div class="tgbanner__side-post">
                    <div class="tgbanner__post small-post">
                        <div class="tgbanner__thumb tgImage__hover">
                            <a asp-action="details" asp-controller="home" asp-route-id="@Model.RecendPost.FirstOrDefault().Id"><img src="~/assets/img/@Model.RecendPost.FirstOrDefault().Images" alt="img"></a>
                        </div>
                        <div class="tgbanner__content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">@Model.RecendPost.FirstOrDefault().Category.Name</a></li>
                            </ul>
                            <h2 class="title tgcommon__hover"><a href="blog-details.html">@Model.RecendPost.FirstOrDefault().Title</a></h2>
                        </div>
                    </div>
                    <div class="tgbanner__post small-post">
                        <div class="tgbanner__thumb tgImage__hover">
                            <a asp-action="details" asp-controller="home" asp-route-id="@Model.RecendPost.FirstOrDefault().Id"><img src="~/assets/img/@Model.RecendPost.FirstOrDefault().Images" alt="img"></a>
                        </div>
                        <div class="tgbanner__content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">@Model.RecendPost.FirstOrDefault().Category.Name</a></li>
                            </ul>
                            <h2 class="title tgcommon__hover"><a href="blog-details.html">@Model.RecendPost.FirstOrDefault().Title</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <!-- banner-area-end -->
    <!-- trending-area -->
    <section class="trending-post-area section__hover-line pt-25">
        <div class="container">
            <div class="section__title-wrap mb-40">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <div class="section__title">
                            <span class="section__sub-title">Popular Posts</span>
                            <h3 class="section__main-title">Trending News</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section__read-more text-start text-sm-end">
                            <a href="blog.html">More Post <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trending__slider">
                <div class="swiper-container trending-active">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.LastestPost)
                        {
                            <div class="swiper-slide">
                                <div class="trending__post">
                                    <div class="trending__post-thumb tgImage__hover">
                                        <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                        <a asp-action="details" asp-controller="home" asp-route-id="@item.Id"><img src="~/assets/img/@item.Images" alt="img"></a>
                                        <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                    </div>
                                    <div class="trending__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">
                                            <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                            <li><span class="by">By</span> <a asp-action="others" asp-controller="home" asp-route-username="@item.Author.UserName">@item.Author.UserName</a></li>
                                        </ul>
                                        <h4 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h4>
                                        <ul class="post__activity list-wrap">
                                             <li>
                                                <div class="like-data">
                                                    <div class="dropdown">


                                                        @if (Model.AppUser is not null)
                                                        {
                                                            if (item.Likes.Any(like => like.LikerId == Model.AppUser.Id))
                                                            {
                                                                <span>
                                                                    <a asp-controller="Post" asp-action="UnlikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                        <i class="fa fa-heart"></i>
                                                                    </a>

                                                                </span>


                                                            }
                                                            else
                                                            {

                                                                <span>
                                                                    <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                        <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                                    </a>

                                                                </span>
                                                            }
                                                        }



                                                        else
                                                        {

                                                            <span>
                                                                <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                    <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                                </a>

                                                            </span>
                                                        }
                                            <li>
                                                <div class="total-like-block ml-2 mr-3">
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                        @item.LikeCount
                                                        </span>

                                                    </div>
                                                </div>
                                             </li>
                                            <li>
                                                <div class="like-data">
                                                    <div class="dropdown">


                                                        @* @if (Model.AppUser is not null)
                                                        {
                                                            if (item.Comments.Any(like => like.AppUserId == Model.AppUser.Id))
                                                            {
                                                                <span>
                                                                    <a asp-controller="comment" asp-action="CreateComment" asp-area="manage" asp-route-Id="@item.Id">
                                                                        <i class="fa fa-comment-dots"></i>
                                                                    </a>

                                                                </span>


                                                            }
                                                            
                                                        } *@



                                                        


                                                    </div>
                                                </div>

                                            </li>
                                            <li><a asp-action="addcomment" asp-controller="comment" asp-area="manage" asp-route-id="@item.Id"><i class="fal fa-comment-dots"></i> @item.CommentCount</a></li>
                                            <li><i class="fal fa-share-alt"></i> 29</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- trending-area-end -->
    <!-- featured-area -->
    <section class="featured-post-area section__hover-line pt-75">
        <div class="container">
            <div class="section__title-wrap mb-40">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <div class="section__title">
                            <span class="section__sub-title">Featured</span>
                            <h3 class="section__main-title">Editor Choice</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section__read-more text-start text-sm-end">
                            <a href="blog.html">More Featured Post <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.LastestPost)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="featured__post">
                            <div class="featured__thumb" data-background="assets/img/@item.Images">@(count++)</div>
                            <div class="featured__content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                    <li><span class="by">By</span>@item.Author.UserName <a asp-action="others" asp-controller="home" asp-route-username="@item.Author.UserName"></a></li>
                                </ul>
                                <h4 class="title tgcommon__hover">
                                    <a asp-action="details" asp-controller="home" asp-route-id="@item.Id">
                                        @item.Title
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                } 
                
            </div>
        </div>
    </section>
    <!-- featured-area-end -->
    <!-- advertisement-area -->
    <div class="advertisement pt-45 pb-80">
        <div class="container">
            <div class="col-12">
                <div class="advertisement__image text-center">
                    <a href="#"><img src="~/assets/img/others/advertisement.png" alt="advertisement"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- advertisement-area-end -->
    <!-- Video-post-area -->
   @*  <section class="video-post-area section__hover-line white-bg pt-75 pb-80">
        <div class="container">
            <div class="section__title-wrap mb-40">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <div class="section__title">
                            <span class="section__sub-title">Video</span>
                            <h3 class="section__main-title">Recent Video Post</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section__read-more text-start text-sm-end">
                            <a href="blog.html">More Video Post <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="video__post-item big-post">
                        <div class="video__post-thumb">
                            <a href="blog-details.html"><img src="~/assets/img/blog/blog14.jpg" alt="img"></a>
                            <a href="https://www.youtube.com/watch?v=FT3ODSg1GFE" class="popup-video"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="video__post-content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">technology</a></li>
                                <li><span class="by">By</span> <a href="blog.html">alonso d.</a></li>
                                <li>nov 21, 2022</li>
                            </ul>
                            <h3 class="title tgcommon__hover"><a href="blog-details.html">The multiverse is a hypothetical group of multiple universes.</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="video__post-item side-post">
                        <div class="video__post-thumb tgImage__hover">
                            <a href="https://www.youtube.com/watch?v=FT3ODSg1GFE" class="popup-video"><img src="~/assets/img/blog/blog15.jpg" alt="img"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="video__post-content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">medical</a></li>
                                <li><span class="by">By</span> <a href="blog.html">alonso d.</a></li>
                            </ul>
                            <h3 class="title tgcommon__hover">
                                <a href="blog-details.html">
                                    Stanford physicists Andrei
                                    Linde In a new study
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="video__post-item side-post">
                        <div class="video__post-thumb tgImage__hover">
                            <a href="https://www.youtube.com/watch?v=FT3ODSg1GFE" class="popup-video"><img src="~/assets/img/blog/blog16.jpg" alt="img"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="video__post-content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">medical</a></li>
                                <li><span class="by">By</span> <a href="blog.html">alonso d.</a></li>
                            </ul>
                            <h3 class="title tgcommon__hover"><a href="blog-details.html">Accessible to telescopes, is about 90 billion years</a></h3>
                        </div>
                    </div>
                    <div class="video__post-item side-post">
                        <div class="video__post-thumb tgImage__hover">
                            <a href="https://www.youtube.com/watch?v=FT3ODSg1GFE" class="popup-video"><img src="~/assets/img/blog/blog17.jpg" alt="img"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="video__post-content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">medical</a></li>
                                <li><span class="by">By</span> <a href="blog.html">alonso d.</a></li>
                            </ul>
                            <h3 class="title tgcommon__hover"><a href="blog-details.html">Observable universes each of which would comprise</a></h3>
                        </div>
                    </div>
                    <div class="video__post-item side-post">
                        <div class="video__post-thumb tgImage__hover">
                            <a href="https://www.youtube.com/watch?v=FT3ODSg1GFE" class="popup-video"><img src="~/assets/img/blog/blog18.jpg" alt="img"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="video__post-content">
                            <ul class="tgbanner__content-meta list-wrap">
                                <li class="category"><a href="blog.html">medical</a></li>
                                <li><span class="by">By</span> <a href="blog.html">alonso d.</a></li>
                            </ul>
                            <h3 class="title tgcommon__hover"><a href="blog-details.html">Experimentally accessible by a connected community</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!-- Video-post-area-end -->
    <!-- hand-picked-area -->
    <section class="hand-picked-area black-bg fix section__hover-line pt-75 pb-80">
        <div class="container">
            <div class="section__title-wrap section__title-white mb-40">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <div class="section__title">
                            <span class="section__sub-title">hand-picked</span>
                            <h3 class="section__main-title">More to Watch</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section__read-more text-start text-sm-end">
                            <a href="blog.html">Hand-Picked Post <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trending__slider dark-post-slider">
            <div class="swiper-container handpicked-active">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.TitlePost)
                    {
                        <div class="swiper-slide">
                            <div class="trending__post">
                                <div class="trending__post-thumb tgImage__hover">
                                    <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                    <a asp-action="details" asp-controller="home" asp-route-id="@item.Id"><img src="~/assets/img/@item.Images" alt="img"></a>
                                    <span class="is_trend"><i class="fas fa-bolt"></i></span>
                                </div>
                                <div class="trending__post-content">
                                    <ul class="tgbanner__content-meta list-wrap">
                                        <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                        <li><span class="by">By</span> <a asp-action="others" asp-controller="home" asp-route-username="@item.Author.UserName">@item.Author.UserName</a></li>
                                    </ul>
                                    <h4 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h4>
                                    <ul class="post__activity list-wrap">
                                        <li>
                                            <div class="like-data">
                                                <div class="dropdown">


                                                    @if (Model.AppUser is not null)
                                                    {
                                                        if (item.Likes.Any(like => like.LikerId == Model.AppUser.Id))
                                                        {
                                                            <span>
                                                                <a asp-controller="Post" asp-action="UnlikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>

                                                            </span>


                                                        }
                                                        else
                                                        {

                                                            <span>
                                                                <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                    <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                                </a>

                                                            </span>
                                                        }
                                                    }



                                                    else
                                                    {

                                                        <span>
                                                            <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                            </a>

                                                        </span>
                                                    }


                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="total-like-block ml-2 mr-3">
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                        @item.LikeCount
                                                    </span>

                                                </div>
                                            </div>

                                        </li>
                                        <li><a asp-action="createcomment" asp-controller="comment" asp-area="manage"><i class="fal fa-comment-dots"></i> @item.CommentCount</a></li>
                                        <li><i class="fal fa-share-alt"></i> 29</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </section>
    <!-- hand-picked-area-end -->
    <!-- stories-post-area -->
    <section class="stories-post-area section__hover-line pt-75 pb-40">
        <div class="container">
            <div class="section__title-wrap mb-40">
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <div class="section__title">
                            <span class="section__sub-title">Stories</span>
                            <h3 class="section__main-title">Popular Stories</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="section__read-more text-start text-sm-end">
                            <a href="blog.html">Stories Post <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-gutters-40">
                @foreach (var item in Model.CategoryPost)
                {
                    <div class="col-md-6">
                        <div class="stories-post__item">
                            <div class="stories-post__thumb tgImage__hover">
                                <a href="blog-details.html"><img src="~/assets/img/@item.Images" alt="img"></a>
                            </div>
                            <div class="stories-post__content video__post-content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                    <li><span class="by">By</span> <a asp-action="others" asp-controller="home" asp-route-username="@item.Author.UserName">@item.Author.UserName</a></li>
                                    <li>@item.CreatedAt</li>
                                </ul>
                                <h3 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @foreach (var item in Model.LikePost)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="trending__post stories-small-post__item">
                            <div class="trending__post-thumb tgImage__hover">
                                <a href="#" class="addWish"><i class="fal fa-heart"></i></a>
                                <a href="blog-details.html"><img src="~/assets/img/@item.Images" alt="img"></a>
                            </div>
                            <div class="trending__post-content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                    <li><span class="by">By</span> <a asp-action="others" asp-controller="home" asp-route-username="@item.Author.UserName">@item.Author.UserName</a></li>
                                </ul>
                                <h4 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h4>
                                <ul class="post__activity list-wrap">
                                    <li>
                                        <div class="like-data">
                                            <div class="dropdown">


                                                @if (Model.AppUser is not null)
                                                {
                                                    if (item.Likes.Any(like => like.LikerId == Model.AppUser.Id))
                                                    {
                                                        <span>
                                                            <a asp-controller="Post" asp-action="UnlikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                <i class="fa fa-heart"></i>
                                                            </a>

                                                        </span>


                                                    }
                                                    else
                                                    {

                                                        <span>
                                                            <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                                <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                            </a>

                                                        </span>
                                                    }
                                                }



                                                else
                                                {

                                                    <span>
                                                        <a asp-controller="Post" asp-action="LikedPost" asp-area="manage" asp-route-Id="@item.Id">
                                                            <img src="~/assets/images/icon/01.png" class="img-fluid" alt=""> <i class="fal fa-heart"></i>
                                                        </a>

                                                    </span>
                                                }


                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="total-like-block ml-2 mr-3">
                                            <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                    @item.LikeCount
                                                </span>

                                            </div>
                                        </div>

                                    </li>
                                    <li><a asp-action="createcomment" asp-controller="comment" asp-area="manage"><i class="fal fa-comment-dots"></i> @item.CommentCount</a></li>
                                    <li><i class="fal fa-share-alt"></i> 32</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </section>
    <!-- stories-post-area-end -->
    <!-- newsletter-area -->
    <section class="newsletter-area pb-80">
        <div class="container">
            <div class="newsletter__wrap">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="newsletter__title">
                            <span class="sub-title">newsletter</span>
                            <h4 class="title">Get notified of the best deals on our WordPress Themes</h4>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="newsletter__form-wrap">
                            <form action="#" class="newsletter__form">
                                <div class="newsletter__form-grp">
                                    <input type="email" placeholder="Email address" required>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree that my submitted data is being collected and stored.
                                        </label>
                                    </div>
                                </div>
                                <a class="btn" asp-action="contuctus" asp-controller="home"><span class="text">Contuct Us</span> <i class="fas fa-paper-plane"></i></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

    </section>
    <!-- newsletter-area-end -->

</main>

<!-- main-area-end -->
@* @section likescripts {
    <script>
        // Like işlemini AJAX ile gerçekleştir
        document.getElementById("likeForm").addEventListener("submit", function (event) {
            event.preventDefault();
            fetch(this.action, {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer YOUR_API_KEY'
                }
            })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Sayfayı yenile
                    } else {
                        console.error('Failed to like the post.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        // Unlike işlemini AJAX ile gerçekleştir
        document.getElementById("unlikeForm").addEventListener("submit", function (event) {
            event.preventDefault();
            fetch(this.action, {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer YOUR_API_KEY'
                }
            })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Sayfayı yenile
                    } else {
                        console.error('Failed to unlike the post.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>


} *@