@using FinalBlogSite.Domain.Enums;
@model AuthorProfileVM
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sarsa - News & Magazine HTML Template</title>
    <meta name="description" content="Sarsa - News & Magazine HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/imageRevealHover.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/spacing.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body>

    <!-- preloader -->
    @* <div id="preloader">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div> *@
    <!-- preloader-end -->
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    
    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="blog.html">Category</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Lifestyle</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->
        <!-- blog-details-area -->
        <section class="blog-details-area pt-80 pb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-1">
                        <div class="blog-details-social">
                            <ul class="list-wrap">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fas fa-share"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-post-wrapper">
                            
                            @foreach (var item in Model.AuthorPost)
                            {
                                <div class="latest__post-item">
                                    <div class="latest__post-thumb tgImage__hover">
                                        <a href="blog-details.html"><img src="~/assets/img/@item.Images" alt="img"></a>
                                    </div>
                                    <div class="latest__post-content">
                                        <ul class="tgbanner__content-meta list-wrap">
                                            <li class="category"><a href="blog.html">@item.Category.Name</a></li>
                                            <li><span class="by">By</span> <a href="blog.html">@item.Author.UserName</a></li>
                                            <li>@item.CreatedAt</li>
                                        </ul>
                                        <h3 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h3>
                                        <p>@item.Content</p>
                                        <div class="latest__post-read-more">
                                            <a href="blog-details.html">Read More <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            <div class="pagination__wrap">
                                <ul class="list-wrap">
                                    <li class="active"><a href="#">01</a></li>
                                    <li><a href="#">02</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">06</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            <div class="widget sidebar-widget">
                                <div class="tgAbout-me">
                                    <div class="tgAbout-thumb">
                                        <img src="~/assets/img/@Model.AppUser.FirstOrDefault(x=>x.UserName==User.Identity.Name)?.ProfilePicture" alt="me">
                                    </div>
                                    <div class="tgAbout-info">
                                        <p class="intro">Hi there, I’m <span>@User.Identity.Name</span></p>
                                        <span class="designation">@Model.AppUser.FirstOrDefault(x=>x.UserName==User.Identity.Name).Role.ToString()</span>
                                        
                                    </div>
                                    <form method="post">
                                    <a  asp-action="create" asp-controller="follower" asp-area="manage">
                                        <img src="https://cdn.pixabay.com/photo/2021/03/18/10/21/subscribe-6104536_1280.png" alt="Follow" style=" width: 150px; height: 150px;">
                                    </a>
                                    </form>

                                    <div class="tgAbout-social">
                                        
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-behance"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget sidebar-widget widget_categories">
                                <h4 class="widget-title">Trending Category</h4>
                                <ul class="list-wrap">
                                    @foreach (var item in Model.AuthorPost)
                                    {
                                        <li>
                                            <a href="blog.html">@item.Category.Name</a>
                                            <span class="float-right">@item.Category.Posts.Count</span>
                                        </li>

                                    }
                                </ul>
                            </div>
                            <div class="widget sidebar-widget">
                                <div class="sidePost-active">
                                    @foreach (var item in Model.AuthorPost)
                                    {
                                        <div class="sidePost__item" data-background="assets/img/@item.Images">
                                            <div class="sidePost__content">
                                                <a href="blog.html" class="tag">@item.Category.Name</a>
                                                <h5 class="title tgcommon__hover"><a href="blog-details.html">@item.Title</a></h5>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                            <div class="widget sidebar-widget">
                                <h4 class="widget-title">Instagram Feeds</h4>
                                <div class="sidebarInsta__wrap">
                                    <div class="sidebarInsta__top">
                                        <div class="sidebarInsta__logo">
                                            <img src="~/assets/img/instagram/insta_logo.png" alt="img">
                                        </div>
                                        <div class="sidebarInsta__info">
                                            <h6 class="name"><a href="#">ins.co/sarso.co</a></h6>
                                            <span class="designation">Code Supply Co.</span>
                                        </div>
                                    </div>
                                    <div class="sidebarInsta__slider-wrap">
                                        <div class="swiper-container sidebarInsta-active">
                                            <div class="swiper-wrapper">
                                                @foreach (var item in Model.AuthorPost)
                                                {
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="~/assets/img/@item.Images" alt="img"></a>
                                                    </div>
                                                }
                                                
                                            </div>
                                        </div>
                                        <div class="swiper-container sidebarInsta-active-2" dir="rtl">
                                            <div class="swiper-wrapper">
                                                @foreach (var item in Model.AuthorPost)
                                                {
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="~/assets/img/@item.Images" alt="img"></a>
                                                    </div>
                                                }
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sidebarInsta__bottom">
                                        <a href="https://www.instagram.com/" target="_blank" class="btn"><i class="fab fa-instagram"></i><span class="text">Follow Me</span></a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-details-area-end -->

    </main>
    <!-- main-area-end -->
    
    <!-- JS here -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.marquee.min.js"></script>
    <script src="~/assets/js/imageRevealHover.js"></script>
    <script src="~/assets/js/swiper-bundle.js"></script>
    <script src="~/assets/js/TweenMax.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/ajax-form.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>